@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as
  purchaseProduct;
@use '../../component/purchase-field/style.scss' as field;
@use '../../component/purchase-divider/style.scss' as
  divider;
@use '../../component/purchase-button/style.scss' as button;

.main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  padding: s.space(10);
}

.purchase-info__customer,
.purchase-info__price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: s.space(5);
  color: #343a40;
}

.purchase-info__address {
  display: flex;
  flex-direction: column;
  gap: s.space(5);
}

.purchase-info__item {
  font-weight: 500;
  color: black;
}

.purchase-info__field {
  display: flex;
  flex-direction: column;
  gap: s.space(2);
}
