<main class="main">
    {{> heading text="Зміна данних"}}
    {{#with data}}
    <form action="POST" action="/purchase-edit">
        <div>
            ID:
            <br>
            {{id}}
        </div>
        {{> purchase-field label=" Ім'я" name="firstname" }}

        {{> purchase-field label="Прізвище" name="lastname"}}

        {{> purchase-field label="Телефон" name="phone"}}

        {{> purchase-field label="Пошта" name="email"}}


        {{/with}}
    </form>
    <a href="/purchase-edit?id={{id}}">
        {{> purchase-button text="Зберегти зміни"}}
    </a>
</main>